.Ninja-Container {
  background-color: gray;
  height: 85%;

  display: grid;
  grid-template-rows: repeat(3, 450px);

  grid-template-columns: repeat(auto-fill, 300px);
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  overflow-y: scroll;

  box-sizing: border-box;
  padding: 20px
}

.Ninja-Item {
  height: 100%;
  width: 100%;
  background-color: white;

  border-radius: 20px;
  margin-bottom: 10%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 40% 20% 20%;
}

.Ninja-Item-Title{
  align-self: center;
  justify-self: center;
}

.Ninja-Item-Graph {
  height: 100%;
  width: 100%;


  border: 0;

  background-color: black;
}

.Ninja-Item-Data {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.Ninja-Item-Button {
  height: 75%;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  align-self: center;
  justify-self: center;
}

.Ninja-Search-Bar-Container{
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: end;

  box-sizing: border-box;
  /* padding: 0 10%; */
  /* background-color: black ; */

}