.Admin {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: start;

  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.Admin-Bar {
  width: 7%;
  background-color: red;
  height: 100%;
}

.Admin-Content-Wrapper {
  width: 93%;
  height: 100%;
  background-color: var(--lightBlue);
}

.Admin-Bar-Content {
  height: 75%;
  width: 100%;

  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Admin-Bar-Button,
.Admin-Account-Buttons {
  height: 10%;
  width: 100%;

  margin-bottom: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--darkBlue);
  color: white;

  font-size: 0.75rem;
  border: 0;
}

.Bar-Image,
.Account-Image {
  height: 55%;
  width: 100%;
  margin-bottom: 10%;

  font-size: 5rem;
}

.Admin-Bar-Account {
  height: 25%;
  width: 100%;
  background-color: var(--darkBlue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Admin-Account-Buttons {
  height: 35%;
  width: 100%;
}

.Account-Image {
  height: 50%;
}

.Admin-Content-Bar {
  height: 15%;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;

  font-size: 3rem;
  color: white;
}

.Admin-Home-Content {
  width: 100%;
  height: 85%;

  padding-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Admin-Home-Form {
  width: 50%;
  height: 60%;

  border-radius: 20px;
  background-color: var(--darkBlue);

  box-sizing: border-box;
  padding: 1% 2%;

  color: white;

  display: flex;
  flex-direction: column;
}

.Review-Container {
  height: 85%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Review-Filter-Bar {
  width: 10%;
  height: 100%;
  background-color: green;
}

.Review-Content-Container {
  width: 90%;
  height: 100%;
  background-color: var(--lightBlue);

  display: grid;
  grid-template-rows: repeat(auto-fill, 100px);
  grid-template-columns: 98%;
  row-gap: 20px;

  justify-content: center;
}

.Review-Item {
  width: 100%;
  height: 100%;
  background-color: var(--darkBlue);

  display: grid;
  grid-template-rows: 50%;
  align-content: center;

  border-radius: 15px;

  box-sizing: border-box;
  padding-left: 2%;
}

.Add-Activity-Container {
  height: 85%;
  width: 100%;

  background-color: gray;

  box-sizing: border-box;
  padding-top: 2%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, 100px);
  /* row-gap: 2%; */

  justify-content: center;
}

.Activity-Item-Container{
  width: 100%;
  height: 100%;
  /* background-color: white; */

  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 80%;
  justify-content: center;
  align-content: center;
}

.Activity-Item {
  width: 100%;
  height: 100%;
  background-color: var(--darkBlue);

  box-sizing: border-box;
  padding-left: 2%;
  padding-top: 0.5%;

  border-radius: 15px;
}

.Add-Dropdown {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: white;
  color: black;

  z-index: 1;
  border-radius: 10px;
  
  /* display: flex;
  align-items: center; */

  line-height: 60px;
  box-sizing: border-box;
  padding-left: 2%;
}

.Open-Dropdown {
  width: 30.9%;
  height: 40%;

  padding-right: 5%;
  margin-left: -0.6%;
  margin-top: -0.5%;
  z-index: 1;
  background-color: white;
  color: black;
  font-size: 2rem;

  overflow-y: scroll;

  position: absolute;
  /* border-top-left-radius: ; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  box-sizing: border-box;
  padding-left: 2%;
}

.Submit-Adds {
  margin-left: 2%;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 0;

  font-size: 1rem;
}

.Ninja-Search-Bar-Container{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 70% repeat(2, 15%);
  column-gap: 2%;
  grid-template-rows: 50%;

  justify-content: start;
  align-content: center;

  box-sizing: border-box;
  padding-right: 5%;

}