.Activity {
  display: flex;
  flex-direction: column;

  border: 0;
  margin: 0;
  padding: 0;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  color: white;

  position: absolute;

  height: 100%;
  width: 100%;

  overflow: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--lightBlue);

  /* background-image: url("../../public/codeninjasBg.svg"); */
}

.Activity-Title {
  height: 10%;
  width: 100%;
  /* background-color: gray; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.Activity-Title-Wrapper {
  width: 80%;
  height: 80%;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Activity-Content {
  width: 100%;
  height: 75%;
  /* background-color: rebeccapurple; */
  background-color: #2e3440;

  display: flex;

  border-top: 0.5px solid white;
}

.Activity-Tabs {
  height: 100%;
  width: 35%;
  background-color: black;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.Activity-Tabs-List {
  background-color: green;
  display: flex;
  justify-content: start;
  height: 5%;

  padding: 0;
  margin: 0;

  border-bottom: 2px solid black;
}

.Tab {
  background-color: var(--lightBlue);
  list-style-type: none;
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Tab-Panel-Wrapper {
  padding-top: 0;
  margin-top: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.Output-Panel {
  height: 100%;
  width: 100%;

  /* position: absolute; */
  background-color: var(--darkBlue);

  display: flex;
  flex-direction: column;

  border-top: 2px black;

  overflow: scroll;
}
.Output-Wrapper {
  background-color: var(--darkBlue);
  /* height: 50%; */

  display: inline-block;
  /* flex-direction: column; */
}

.Output-Runtime {
  height: 2rem;

  background-color: var(--darkBlue);
  font-size: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-bottom: 2px solid black;
}

.Output {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;

  margin-top: 0;

  padding-left: 1%;
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */

  /* background-color: blue; */
  border-bottom: 2px solid black;

  overflow-y: auto;
}

.Tabs-Wrapper {
  height: 100%;
  width: 35%;
  background-color: green;
}

.Grade-Panel {
  height: 100%;
  width: 100%;

  background-color: var(--darkBlue);
}

.Activity-Code {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;

  overflow-y: scroll;
  overflow-x: none;
}

.Activity-Code-Editor {
  width: 100%;
  height: 100%;
}

.Activity-Code::-webkit-scrollbar {
  display: none;
}

.Activity-Buttons {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-top: 0.5px solid white;
}

.Activity-Button-Container {
  border: none;
  height: 50%;
  width: 10%;
  border-radius: 10px;

  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.BackButton {
  width: 3%;
  height: 50%;

  text-align: center;
  color: white;
  font-size: 2rem;

  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.Instructions-Wrapper {
  /* background-color: black; */

  width: 100%;
  height: 100%;

  z-index: 1;

  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Instructions {
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Instruction-Pdf {
  height: 100%;
  width: 100%;
}

.Trash-Button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  color: black;
}

@media (max-width: 700px) and (min-width: 500px) {
  .Instructions {
    width: 100%;
  }
}
