.Home {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: start;

  position: absolute;
  overflow-y: hidden;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.Bar {
  height: 15%;
  /* background-color: #2e3440; */
  display: flex;
  align-items: center;
  color: white;
}

.Bar-Left {
  height: 100%;
  width: 40%;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: var(--darkBlue);
}

.Bar-Middle {
  height: 100%;
  width: 20%;
  background: linear-gradient(
    to top right,
    var(--darkBlue) 0%,
    var(--darkBlue) 50%,
    var(--lightBlue) 10%,
    var(--lightBlue) 90%
  );
}

.Bar-Right {
  height: 100%;
  width: 40%;

  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 2%;

  background-color: var(--lightBlue);
}



.Signout-Button {
  height: 40%;
  width: 15%;

  border-radius: 15px;

  font-size: 1rem;

  border: 0;
}

.Python-Image {
  height: 75%;
  padding-left: 5%;
}

.Activities-Wrapper {
  height: 90%;
  width: 100%;

  margin-left: 0;
  padding-left: 0;

  background-color: white;
  overflow-y: scroll;

}

.Activities-List {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-left: 0;
  padding-left: 0;

  padding-top: 1%;


  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 15%; */
  row-gap: 0.5%;
  justify-items: center; 


}

.Activity-Dropdown-Container{
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Activity-Dropdown {
  /* background-color: black; */
  height: 100px;
  width: 80%;

  padding: 0;
  margin-bottom: 10px;

  display:grid; 
  grid-template-columns: 90% 5%;
  grid-template-rows: 100%;

  justify-content: center;
  align-items: center;

  list-style: none;
  border-radius: 15px;

  border: 1px solid black;
  box-shadow: 0px 0px 3px 1.5px grey;
}

.Lock-Image{
  background-color: gray;
  width: 5%;
  height: 50%;

  font-size: 0.5rem;
}

.Activity-Name {
  width: 95%;
  font-size: 1.5rem;
  margin-left: 2%;


}

.Dropdown-Button {
  margin-right: 2%;
  height: 100%;
  width: 100%;
  border: 0;

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Activities-Dropdown-Wrapper {
  height: 150px;
  max-height: 150px;
  width: 80%;
  
}

.Activity-Link {
  height: 75px;
  width: 90%;
  border-radius: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 7%;

  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background-color: white;
  text-decoration: none;
  color: black;

  border-radius: 15px;

  border: 1px solid black;
  box-shadow: 0px 0px 3px 1.5px grey;

  padding-left: 1.5%;
  padding-right: 1.5%;
}

.Link-Title {
  width: 50%;
  /* background-color: blue; */
  height: 100%;

  display: flex;
  align-items: center;
}

.Link-Stars {
  width: 50%;
  /* background-color: rebeccapurple; */
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.Star {
  rotate: 20deg;
}

/************************/

#Bar-Text {
  font-size: 1.5rem;
}
