:root{
  --darkBlue: #46719e;
  --lightBlue: #4e8dbc;
}

.App{
  position: absolute;

  height: 100%;
  width: 100%;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-color: var(--lightBlue);
  background: linear-gradient(to bottom left, var(--lightBlue) 0%, var(--lightBlue) 55%, var(--darkBlue) 50%, var(--darkBlue) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Wrapper{
  background-color: #363d4a;
  height: 75%;
  width: 65%;

  border-radius: 25px;

  /* padding: 1.5%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid white
  
}

.Login-Image-Wrapper{
  height: 30%;
  width: 100%;

  background-color: red;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-Image{
  height:100%;
  padding-top:2%;
}

.Title{
  font-size: 5rem;
}

.Login-Content{
  height: 50%;
  width: 100%;
  background-color: blue;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;


}

.Login-Form{
  height: 100%;
  width: 100%;

  /* background-color: black; */


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Login-Input{
  height: 15%;
  width: 50%;

  text-align: center;
  font-size: 1rem;

  border-radius: 10px;

  border:0;
  padding: 0;

  margin-bottom: 4%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 2px 2px grey;

}

.Login-Button{
  width: 25%;
  height: 15%;

  border-radius: 15px;
  font-size: 0.5rem;

  background-color: white;
  box-shadow: 0px 0px 2px 2px grey;

  border:0;
}

.Error-Message{
  height: 35%;
  width: 50%;
  background-color: white;
  border-radius: 15px;


  margin-bottom: 3%;
  font-size: 0.75rem;

  text-align: center;
}