:root {
  --darkBlue: #46719e;
  --lightBlue: #4e8dbc;
  --green: #61a541;
}

.App {
  position: absolute;

  height: 100%;
  width: 100%;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-color: var(--lightBlue);
  background: linear-gradient(
    to bottom left,
    var(--darkBlue) 0%,
    var(--darkBlue) 55%,
    var(--lightBlue) 50%,
    var(--lightBlue) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Wrapper {
  /* background-color: #363d4a; */
  height: 75%;
  width: 65%;

  border-radius: 25px;

  /* padding: 1.5%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid white; */
}

.Login-Image-Wrapper {
  height: 30%;
  width: 100%;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-Image {
  height: 100%;
  padding-top: 2%;
}

.Title {
  font-size: 5rem;
  width: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Title-Wrapper {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: start;
}

.Python-Text {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

.Login-Content {
  height: 60%;
  width: 100%;
  /* background-color: blue; */

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.Login-Form {
  height: 100%;
  width: 100%;

  /* background-color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-Input {
  height: 30%;
  width: 40%;

  text-align: center;
  font-size: 1rem;

  border-radius: 10px;

  border: 0;
  padding: 0;

  margin-bottom: 4%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 5px 5px;

  font-size: 2rem;
}

.Login-Button {
  width: 30%;
  height: 30%;

  border-radius: 15px;

  background-color: var(--green);
  color: white;

  font-size: 1rem;
  text-align: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 3px 3px 5px black;
  border: 0;
}

.Login-Error-Message {
  height: 35%;
  width: 50%;
  background-color: white;
  border-radius: 15px;

  margin-bottom: 3%;
  font-size: 0.75rem;
  text-align: center;
}
